* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
:root {
  --main-color: #0e0e2b;
  --white-pink: linear-gradient(to right, #e7bfcd 0%, #ff3e5f 100%);
  --border: 0.1rem solid rgba(255, 255, 255, 0.4);
  --blue: linear-gradient(to right, #923efe 0%, #290e73 100%);
  --blue-hover: linear-gradient(to right, #290e73 0%, #923efe 100%);
  --blue-pink: linear-gradient(to right, #1f45b4 0%, #ff3e5f 100%);
  --blue-pink-hover: linear-gradient(to right, #ff3e5f 0%, #1f45b4 100%);
}
body {
  background-color: var(--main-color);
}

/* header section*/
.header {
  display: block;
}
.headers {
  margin-left: 42%;
}
.header .items {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
}
.logo-all {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.logo-name {
  color: #fff;
  font-size: 4rem;
}
.items-about {
  justify-content: space-between;
}
.link {
  margin-right: 200px;
  color: #fff;
  font-size: 3rem;
}
.profile {
  justify-content: center;
  text-align: center;
}
.profile .text {
  font-size: 2rem;
  color: #fff;
  margin-right: 100px;
}

.img-profile {
  height: 10px;
  margin-right: 5rem;
}
.img-profile img {
  border-radius: 50%;
  border: 3px solid #5d0597;
  box-shadow: 0px 21px 21px 0px rgb(3, 61, 168);
}
/* header section*/

/* main section*/
.main {
  margin-top: 200px;
  position: relative;
  display: flex;
  justify-content: left;
  padding-left: 20rem;
  width: 100%;
  height: 100%;
  align-items: center;
}
.main .left-main {
  padding: 25px 200px 0 5px;
}
.main .left-top {
  padding: 25px 20px 0 5px;
  width: 700px;
}
.main .right-main {
  height: 100%;
  background-size: cover;
  margin-left: 20rem;
}
.main .right-main img {
  border-radius: 3rem;
}
.container {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.form {
  text-align: center;
}
.form .input {
  align-items: center;
  text-align: center;
}
.field {
  background: var(--white-pink);
  color: black;
  padding: 0.5rem 2rem;
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
  border-radius: 5rem;
  justify-content: center;
}
.field-passwd {
  width: 250px;
}
.field:hover {
  background: #fff;
}
.field::placeholder {
  text-align: center;
  color: #fff;
}
.field:hover::placeholder {
  color: black;
}
.btn {
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
  background: var(--blue);
  margin-bottom: 5px;
  border: 1px solid var(--blue);
  border-radius: 50rem;
}
.btn-home {
  background: var(--blue-pink);
  color: black;
  padding: 1rem 5rem;
  font-weight: 600;
  margin-left: 50px;
  margin-top: 60px;
  font-size: 3rem;
}
.btn-scn {
  background: var(--blue-pink);
  margin-top: 13rem;
}
.btn:hover {
  background: var(--blue-hover);
}
.btn-scn:hover {
  background: var(--blue-pink-hover);
}
.container .h1 {
  color: #fff;
  font-size: 7rem;
  padding: 1rem;
}
.paragraph {
  color: #9340ff;
  font-size: 1.5rem;
  margin-top: 60px;
  font-weight: 600;
  padding: 0 9rem;
  text-align: center;
}
.img-home {
  box-shadow: -31px 20px 31px 0px rgb(3, 61, 168);
}
.left-top {
  margin-bottom: 100px;
  justify-content: left;
}
/* main section */
/* aside section */
.aside {
  display: inline-block;
  flex-direction: column;
  width: 500px;
  margin-top: 0;
  margin-left: 0;
}
.aside a {
  display: flex;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  text-align: left;
  padding-left: 30px;
  color: #fff;
  margin-left: 0;
  margin-top: 10px;
  padding-bottom: 1rem;
  font-size: 2rem;
}
.link1 {
  width: 430px;
}
.link2 {
  width: 380px;
}
.link3 {
  width: 330px;
}
/* aside section */

/* main-home section */
.main-all {
  display: flex;
}
.main-home {
  display: inline-block;
  margin-top: 150px;
  margin-left: 300px;
}
.card {
  display: inline-block;
  text-align: center;
  margin-right: 50px;
}
.card .text {
  font-size: 2rem;
  color: #fff;
}
.card .picture img {
  width: 300px;
  border-radius: 2rem;
}
/* main-home section */

/* cattegory */
.category {
  margin-top: 100px;
}
.btn-category {
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  font-size: 2.5rem;
  cursor: default;
  display: block;
  width: 300px;
}
.category .cards {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 50px;
}
.category .card img {
  width: 200px;
}
/* category */

/* search section */
.search {
  display: block;
  margin-top: 50px;
}
.search .btn {
  font-size: 3rem;
  position: relative;
  left: 37%;
  padding: 2rem 0rem;
  text-align: center;
}
.search .btn:hover {
  background: #fff;
  color: black;
  text-align: center;
}
.search .btn:focus {
  background: #fff;
  color: black;
  text-align: center;
}
.menu {
  margin-top: 50px;
}
.last-search {
  margin-bottom: 100px;
  margin-left: 2rem;
}
.last-search .cards {
  display: flex;
  justify-content: flex-start;
}
.last-search .card .picture {
  margin: 0;
}

.last-search .card img {
  width: 200px;
  margin-left: 2rem;
}
.last-search .text {
  font-size: 1.5rem;
  margin-left: 1.5rem;
  width: 200px;
}
.last-search h2 {
  color: #fff;
  font-size: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.explore {
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
.explore .card img {
  width: 250px;
  margin-left: 2rem;
}
.explore .card .text {
  margin-left: 2rem;
}
.explore h2 {
  color: #fff;
  font-size: 2rem;
  margin-left: 2rem;
  margin-bottom: 1.6rem;
}
/* search section */

/* profile section */
.profiles {
  margin-left: 100px;
}
.profiles .text {
  margin-left: 600px;
  margin-top: 90px;
}
.profiles .p {
  color: #fff;
  margin-top: 100px;
  margin-left: 900px;
  text-align: left;
  font-size: 2.5rem;
}
.profiles .p-2 {
  margin-bottom: 2rem;
}
.buttnn {
  margin-left: 1000px;
}
.profiless {
  margin-right: 300px;
}
.profiless-1 {
  padding-right: 200px;
}
.buttonss .btns {
  margin-left: 42%;
  font-size: 5rem;
  padding: 10px 100px;
}
/* profile section */
